name: Test & build "Create or Update RapidAPI Listing" GitHub Action

on:
  push:
    branches:
      - main

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install modules
        run: npm install
        id: install
      - name: Run jest
        run: npm run test
      - name: Run eslint
        run: npm run lint

  build:
    name: Build and push dist/index.js
    needs: test
    env:
      PACKED_JS_PATH: "dist/index.js"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Extract branch name
        id: extractBranch
        shell: bash
        run: echo "BRANCH=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm install
      - name: Pack
        run: npm run pack
      - name: Check packed js changes
        id: packedJsStatus
        run: echo "CHANGES=$(git status ${{env.PACKED_JS_PATH}} --porcelain)" >> $GITHUB_OUTPUT
      - name: Commit packed js
        id: commitPackedJs
        if: steps.packedJsStatus.outputs.CHANGES
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add ${{ env.PACKED_JS_PATH }}
          git commit -m "New ncc built ${{env.PACKED_JS_PATH}}.js built w/ included dependencies"
      - name: Push packed js
        if: steps.commitPackedJs.outcome == 'success'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tags: true
          force: true
          branch: ${{ steps.extractBranch.outputs.BRANCH }}
